<h1>
  ng-filemanager
</h1>
<p>Open developer console</p>
<p>
  In this example:
</p>
<ul>
  <li>SIMPLE: no limitation</li>
  <li>CUSTOM: Min 2 files</li>
  <li>CUSTOM: Max 1MB total size</li>
</ul>
<div>
  <form #form="ngForm" novalidate (submit)="onSubmitFiles(form)">
    <!-- SIMPLE ng-filemanager -->
    <h3>SIMPLE ng-filemanager</h3>
    <ng-filemanager [(ngModel)]="simpleFiles" name="simpleFiles" [isLoading]="isUploadingFiles">
      <!-- #filesRef="ngModel" -->
      <!-- [min]="2" [max]="5" [maxFileSize]="1024000" -->
    </ng-filemanager>

    <!-- CUSTOM ng-filemanager-->
    <h3>CUSTOM ng-filemanager</h3>
    <ng-filemanager [(ngModel)]="customFiles" name="customFiles" [min]="2" [max]="5" [maxFileSize]="1024000"
                    #customFilesRef="ngModel" [isLoading]="isUploadingFiles">
      <ng-template #selectText>
        <span>Seleziona i file</span>
      </ng-template>
      <ng-template #selectIcon>
        <i class="fa fa-upload"></i>
      </ng-template>
      <ng-template #deleteAllIcon>
        <i class='fa fa-trash'></i>
      </ng-template>
      <ng-template #deleteAllText>
        <span>Elimina tutti i file</span>
      </ng-template>
      <ng-template #deleteIcon>
        <i class="fa fa-trash"></i>
      </ng-template>

    </ng-filemanager>

    <div class="error-message" *ngIf="customFilesRef.dirty && customFilesRef.errors?.exactFileNumber">
      <span>you must upload a file</span>
    </div>
    <div class="error-message" *ngIf="customFilesRef.dirty && customFilesRef.errors?.minFileNumber">
      <span>you must upload at least 2 files</span>
    </div>
    <div class="error-message" *ngIf="customFilesRef.dirty && customFilesRef.errors?.maxFileNumber">
      <span>you cannot upload more than 5 files</span>
    </div>
    <div class="error-message" *ngIf="customFilesRef.dirty && customFilesRef.errors?.maxFileSize">
      <span>you cannot upload more than 1MB</span>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="form.invalid || isUploadingFiles">
        Update
        <span *ngIf="isUploadingFiles">
          (loading...)
        </span>
      </button>
      <button type="reset" [disabled]="isUploadingFiles" *ngIf="form.touched">
        Reset
      </button>
    </div>

  </form>
</div>
