<h1>
  ng-filemanager
</h1>
<p>Open developer console</p>
<p>
  In this example:
</p>
<ul>
  <li>Min 2 files</li>
  <li>Max 1MB total size</li>
</ul>
<div>
  <form #form="ngForm" novalidate (submit)="onSubmitFiles(form)">
    <ng-filemanager [(ngModel)]="files" name="files" [min]="2" [max]="5" [maxFileSize]="1024000" #filesRef="ngModel"
                    [isLoading]="isUploadingFiles">
      <span selectText>
        Seleziona i file
      </span>

      <span selectIcon>
        <i class="fa fa-upload"></i>
      </span>
      <span deleteAllIcon>
        <i class='fa fa-trash'></i>
      </span>
      <span deleteAllText>
        Elimina tutti i file
      </span>
      <ng-template #deleteIconRef>
        <span>
          <i class="fa fa-trash"></i>
        </span>
      </ng-template>

    </ng-filemanager>
    <div class="error-message" *ngIf="filesRef.dirty && filesRef.errors?.exactFileNumber">
      <span>you must upload a file</span>
    </div>
    <div class="error-message" *ngIf="filesRef.dirty && filesRef.errors?.minFileNumber">
      <span>you must upload at least 2 files</span>
    </div>
    <div class="error-message" *ngIf="filesRef.dirty && filesRef.errors?.maxFileNumber">
      <span>you cannot upload more than 5 files</span>
    </div>
    <div class="error-message" *ngIf="filesRef.dirty && filesRef.errors?.maxFileSize">
      <span>you cannot upload more than 1MB</span>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="form.invalid || isUploadingFiles">
        Update
        <span *ngIf="isUploadingFiles">
          (loading...)
        </span>
      </button>
      <button type="reset" [disabled]="isUploadingFiles" *ngIf="form.touched">
        Reset
      </button>
    </div>

  </form>
</div>
