@import url("https://fonts.googleapis.com/css?family=Exo:400,700&display=swap");

html {
  font-family: "Exo";
}
form {
  padding: 50px;
  margin: 50px auto;
  border-radius: 5px;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.default-button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.section-title {
  text-transform: uppercase;
}
.buttons {
  margin-top: 30px;
}

.description {
  ng-filemanager {
    display: inline-block;
  }
}

.example-without-style {
  form {
    border: 1px solid black;
  }
}
.example-with-style {
  form {
    color: white;
    background-color: black;
  }

  // ng-filemanager STYLES
  .ng-filemanager__container {
    margin-top: 5px;
    margin-bottom: 5px;
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  .ng-filemanager__input {
    display: none;
  }

  .ng-filemanager__buttons-container {
  }

  .ng-filemanager__button {
    @extend .default-button;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .ng-filemanager__button__icon {
    margin-right: 10px;
  }

  .ng-filemanager__file-list {
  }

  .ng-filemanager__file {
    font-size: 0.75em;
  }

  .ng-filemanager__file__button {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
  }

  .ng-filemanager__file__button__icon {
  }
}
